@import "tailwindcss";

@theme {
  --color-green1: #cedba4;
  --color-green2: #a2be6a;
  --color-yellow1: #fef6d1;
  --color-yellow2: #f8e994;
  --color-gray: #dce2e7;
  --color-blueGreen1: #91c8bc;
  --color-blueGreen2: #d4f1f0;
  --color-blueGreen3: #b2ddcc;
}
